In [1]:
import pandas as pd

In [3]:
fruits = pd.Series([10, 6, 3], ['apples', 'oranges', 'bananas'])
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [4]:
fruits - 2

apples     8
oranges    4
bananas    1
dtype: int64

In [5]:
fruits + 2

apples     12
oranges     8
bananas     5
dtype: int64

In [6]:
fruits * 2

apples     20
oranges    12
bananas     6
dtype: int64

In [7]:
fruits / 2

apples     5.0
oranges    3.0
bananas    1.5
dtype: float64

In [8]:
import numpy as np

In [9]:
np.sqrt(fruits)

apples     3.162278
oranges    2.449490
bananas    1.732051
dtype: float64

In [11]:
np.exp(fruits)

apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64

In [12]:
np.power(fruits, 2)

apples     100
oranges     36
bananas      9
dtype: int64

In [13]:
fruits['bananas']

3

In [14]:
fruits['bananas'] + 2

5

In [16]:
fruits.iloc[0] - 2

8

In [18]:
fruits[['apples', 'oranges']] + 2

apples     12
oranges     8
dtype: int64

In [19]:
fruits.loc[['apples', 'oranges']] + 10

apples     20
oranges    16
dtype: int64

In [20]:
groceries = pd.Series(data=[30, 6, 'Yes', 'No'], index=['eggs', 'apples', 'milk', 'bread'])
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [21]:
groceries * 2

eggs          60
apples        12
milk      YesYes
bread       NoNo
dtype: object

In [22]:
groceries / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'