In [1]:
import pandas as pd

In [23]:
items = {'Bob': pd.Series([245, 25, 55], index=['bike', 'pants', 'watch']),
         'Alice': pd.Series([40, 110, 500, 45], index=['book', 'glasses', 'bike', 'pants'])}
type(items)

dict

In [8]:
shopping_cart = pd.DataFrame(items)
shopping_cart

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [24]:
data = {'Bob': pd.Series([245, 25, 55]),
         'Alice': pd.Series([40, 110, 500, 45])}

df = pd.DataFrame(data)
df

     Bob  Alice
0  245.0     40
1   25.0    110
2   55.0    500
3    NaN     45

In [10]:
shopping_cart.index

Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')

In [12]:
shopping_cart.columns

Index(['Bob', 'Alice'], dtype='object')

In [26]:
shopping_cart.values

array([[245., 500.],
       [ nan,  40.],
       [ nan, 110.],
       [ 25.,  45.],
       [ 55.,  nan]])

In [14]:
shopping_cart.shape

(5, 2)

In [16]:
shopping_cart.ndim

2

In [17]:
shopping_cart.size

10

In [20]:
bob_shopping_cart = pd.DataFrame(items, columns=['Bob'])
bob_shopping_cart

   Bob
0  245
1   25
2   55

In [27]:
sel_shopping_cart = pd.DataFrame(items, index=['pants', 'book'])
sel_shopping_cart

        Bob  Alice
pants  25.0     45
book    NaN     40

In [29]:
alice_sel_shopping_cart = pd.DataFrame(items, index=['glasses', 'bike'], columns=['Alice'])
alice_sel_shopping_cart

         Alice
glasses    110
bike       500

In [30]:
data = {'Integers': [1, 2, 3],
        'Floats': [3.5, 2., 1.2]}
df = pd.DataFrame(data, index=['label 1', 'label 2', 'label 3'])
df

         Integers  Floats
label 1         1     3.5
label 2         2     2.0
label 3         3     1.2

In [32]:
items = [{'bikes': 20, 'pants': 30, 'watches': 35}, {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants': 5}]

store_items = pd.DataFrame(items, index=['label 1', 'label 2'])
store_items

         bikes  glasses  pants  watches
label 1     20      NaN     30       35
label 2     15     50.0      5       10